* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}

/*shared style*/

.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
   background-color: #30B868;
   border: none;
   padding: 12px 16px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 600;
   color: white;
   cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;

}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

.text-center {
    text-align: center;
}



/* main style*/

.logo {
    padding-left: 120px;
    padding-right: auto;
}


header {
    background-color: #FFFFFF;
    background: url(../images/developer.png),url(../images/header_bg.png) , #FFFFFF;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    padding-top: 50px;
}

nav {
    /* background-color: #FFF8F3; */
    width: 96%;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 120px;


}

nav .nav-bar {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .nav-bar a{
    margin: 0px auto;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

nav .nav-bar .btn-align { 
    
}



#banner .banner-content{
    /* border: 1px solid red; */
    /* margin: 46px 38px 0px 230px; */
    width: 96%;
    margin: 0px auto;
    justify-content: space-between;
    display:flex ;
    align-items: center;
    background-position: center;
    max-width: 1600px;
    
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-content p{
    font-size: 18px;
    color:  #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

#about ,#skills , #resume  {
    padding-top: 130px;

}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;

}

#about .about-container .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}

#about .about-container .about-info .info-card h4 {
    font-size: 20px;

}

#skills .skills-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;

}

#skills .skills-container .skills-box {
    display: flex;
    gap: 24px;


}

#skills .skills-container .skills-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;

}

#skills .skills-container .skills-box .skill-card .img {
    max-width: 44px;
    margin-bottom: 30px;

}

#skills .skills-container .skills-box .skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;

}

#skills .skills-container .skills-box .skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

#resume

#resume .resume-container hr {
    margin: 30px 0;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;


}

.resume-container .section-heading {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.education-box , .experience-box{
    max-width: 511px;
    margin-right: 47px;

}

.education-box , .experience-box , .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.education-box , .experience-box , .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.education-box , .experience-box , .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}